@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;

}

#principal {
    width: 1120px;
    margin: 0 auto;
    display: flex;
    gap: 28px;

    & #foto {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        background-color: #d6d638;

    }

    & main {
        flex: 1;

        & #topo {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 46px;

            & div {
                & h1 {
                    font-size: 36px;
                }

                & h6 {
                    font-size: 20px;
                }

                & nav {
                    margin-top: 16px;

                    & a {
                        display: block;
                        color: #727171;
                        padding-bottom: 4px;
                        position: relative;
                        transition-duration: 300ms;

                        &:hover {
                            color: #d6d638;

                            &::after {
                                opacity: 1;
                                width: 20px;
                                left: calc(50% - 10px);
                            }
                        }

                        &::after {
                            content: "";
                            width: 0px;
                            height: 4px;
                            border-radius: 2px;
                            background-color: #d6d638;
                            position: absolute;
                            top: 100%;
                            left: 50%;
                            opacity: 0;
                            transition-duration: 300ms;
                        }
                    }
                }
            }

            & ul {
                display: flex;
                gap: 16px;

                &li {

                    & a {}
                }
            }
        }
    }

    & #sobre {
        & h2 {
            font-size: 48px;
            margin-bottom: 26px;
        }

        & p {
            margin-bottom: 16px;
            font-size: 18px;
            width: 700px;
        }

        & #linguagens {
            margin-top: 100px;

            & ul {
                display: flex;
                gap: 16px;

                & li {
                    flex: 1;
                    height: 100px;
                    background-color: red;
                }
            }
        }
    }
}